<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/styles.css">
    <title> Server Information </title>
</head>
<body id = "wrapper">
    <%- include ('./partials/header.ejs') %>
    <div class = "content-div column-centered-div">
        <h3> Server info </h3>
        <p> <strong> Os System: </strong> <%= os %> </p>
        <p> <strong> Node version: </strong> <%= nodeVersion %> </p>
        <p> <strong> Current Directory: </strong> <%= currentDirectory %> </p>
        <p> <strong> Process Id: </strong> <%= processId %> </p>
        <p> <strong> Memory Usage: </strong> <%= memoryUsage %> </p>
        <p> <strong> Command line arguments: </strong> <%= entryArguments %> </p>
        <p> <strong> Number of CPU's: </strong> <%=  numCPUs %> </p>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>